.hero-container {
  /* background-color: #0a2040; */
  background-color: whitesmoke;
  height: 84vh;
}

.hero-info {
  /* background-color: #0a2040; */
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.profile-img-background {
  background-color: black;
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  border: 5px black solid;
}

.profile-img-background img {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  padding: 8px;
}

.intro-container {
  height: 19rem;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-container h1 {
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

.intro-container p {
  font-size: 20px;
  margin: 0;
}

.intro-text {
  padding: 0;
  margin: 0;
}

.resume-button {
  border: 1px solid rgb(248, 28, 28);
  background-color: rgb(248, 28, 28);
  color: whitesmoke;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 2rem;
  text-decoration: none;
}

.resume-button:hover {
  background-color: whitesmoke;
  color: rgb(248, 28, 28);
}
