.project-section {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section h1 {
  margin-bottom: 2.5rem;
  padding: 1rem 0 0 2.5rem;
  letter-spacing: 50px;
  text-align: center;
}

.project-container {
  height: 70vh;
  width: 60vw;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .project-section {
    height: auto;
    padding-bottom: 2rem;
  }

  .project-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .project-section {
    margin-bottom: 20vh;
  }

  .project-section h1 {
    letter-spacing: 37px;
  }

  .project-container {
    width: 100%;
  }
}
