.about-container {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container h1 {
  margin-bottom: 2.5rem;
  padding: 1rem 0 0 2.5rem;
  letter-spacing: 50px;
  text-align: center;
}

.grid-container {
  width: 70%;
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.about-card {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  box-shadow: 0 0 5px 0;
  background-color: white;
}

.about-card h2 {
  text-align: center;
  margin-bottom: 0;
}

.about-card p {
  padding: 1rem 2rem 0 2rem;
  font-size: 18px;
  margin-top: 0;
}

.education-card {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  box-shadow: 0 0 5px 0;
  background-color: white;
}

.education h2 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.education-content {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.uh-logo {
  height: 10rem;
  width: 11rem;
}

.skills-card {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  box-shadow: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.languages {
  list-style: none;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.languages li {
  border: 2px solid rgb(248, 28, 28);
  border-radius: 25px;
  color: rgb(248, 28, 28);
  padding: 0.5rem 1rem;
}

@media (max-width: 1325px) {
  .about-container {
    height: auto;
    padding-bottom: 2rem;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .education-content {
    padding-bottom: 2rem;
  }
}

@media (max-width: 700px) {
  .education-content {
    flex-direction: column;
    padding-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .about-container {
    margin-bottom: 10vh;
  }

  .about-container h1 {
    letter-spacing: 35px;
  }
}

@media (max-width: 475px) {
  .about-container h1 {
    font-size: 25px;
    letter-spacing: 20px;
    padding-left: 1rem;
  }
}
