.footer-container {
  background-color: black;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
}

.footer-container p {
  font-weight: lighter;
  color: whitesmoke;
}

.lang-logo {
  font-size: 30px;
  /* color: #61dbfb; */
  color: whitesmoke;
  display: flex;
  gap: 1rem;
}
