.experience-section {
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experience-section h1 {
  margin-bottom: 2.5rem;
  padding: 1rem 0 0 2.5rem;
  letter-spacing: 50px;
  text-align: center;
}

.experience-container {
  width: 60%;
  height: 75vh;
  display: flex;
}

.tab {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 31%;
}

.tab button {
  text-align: start;
  width: 100%;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  font-weight: bold;
  border-left: 7px solid black;
  border-style: none;
  border-left-style: solid;
}

.tab button:hover {
  padding: 1rem 2rem;
  color: rgb(248, 28, 28);
  border-left: 7px solid rgb(248, 28, 28);
}

.tab button:focus {
  color: rgb(248, 28, 28);
  border-color: rgb(248, 28, 28);
}

.tab button:active {
  color: rgb(248, 28, 28);
  border-color: rgb(248, 28, 28);
}
