.experience-section {
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experience-section h1 {
  margin-bottom: 2.5rem;
  padding: 1rem 0 0 2.5rem;
  letter-spacing: 50px;
  text-align: center;
}

.experience-container {
  width: 60%;
  height: 75vh;
  display: flex;
}

.tab {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 31%;
}

.tab button {
  text-align: start;
  width: 100%;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  font-weight: bold;
  border-left: 7px solid black;
  border-style: none;
  border-left-style: solid;
}

.tab button:hover {
  padding: 1rem 2rem;
  color: rgb(248, 28, 28);
  border-left: 7px solid rgb(248, 28, 28);
}

.tab button:focus {
  color: rgb(248, 28, 28);
  border-color: rgb(248, 28, 28);
}

@media (max-width: 1205px) {
  .experience-section {
    height: auto;
    padding-bottom: 2rem;
  }

  .experience-container {
    flex-direction: column;
    height: auto;
  }

  .tab {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: auto;
  }

  .tab button {
    width: auto;
    border-left: none;
    border-style: none;
    border-left-style: none;
    border-bottom: 7px solid black;
    border-style: none;
    border-bottom-style: solid;
    padding: 1rem 0.5rem;
  }

  .tab button:hover {
    padding: 1rem 0.5rem;
    color: rgb(248, 28, 28);
    border-left: none;
    border-bottom: 7px solid rgb(248, 28, 28);
  }

  .tab button:focus {
    color: rgb(248, 28, 28);
    border-color: rgb(248, 28, 28);
  }
}

@media (max-width: 750px) {
  .experience-section h1 {
    letter-spacing: 35px;
  }

  .tab button {
    text-align: center;
    color: black;
  }
}

@media (max-width: 600px) {
  .experience-section {
    margin-bottom: 10vh;
  }

  .experience-section h1 {
    letter-spacing: 25px;
    font-size: 30px;
  }

  .experience-container {
    height: auto;
    padding-bottom: 2rem;
    width: 71%;
  }

  .tab {
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: start;
  }
}

@media (max-width: 475px) {
  .experience-section h1 {
    letter-spacing: 15px;
    font-size: 30px;
    padding-left: 0.5rem;
  }
}
